.pokemonByType {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pokemonByType__border {
    border: 2px solid hsla(207.2412045062839, 100%, 40%, 1);
    border-radius: 8px;
    padding: 10px;
}

.pokemonByType--footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.pokemonByType--select {
    background-color: transparent;
    font-size: 1em;
    font-family: inherit;
    padding: 0.6em 1.2em;
    border: 2px solid hsla(207.2412045062839, 100%, 40%, 1);
    border-radius: 8px;
    transition: border 0.5s;
    width: 100%;
}

.pokemonByType--select:hover {
    border: 2px solid hsla(207.2995861876241, 100%, 25%, 1);
}

.pokemonByType--select:focus {
    border: 2px solid hsla(207.2995861876241, 100%, 25%, 1);
    outline: none;
}