:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: thin;
    scrollbar-color: hsl(207.2412045062839, 100%, 40%) transparent;

    background-color: hsla(185, 0%, 100%, 1);
    background-image: radial-gradient(
            circle at 91% 11%,
            hsla(66, 100%, 88%, 0.66) 4.038772213247173%,
            transparent 37.2265767974114%
        ),
        radial-gradient(
            circle at 66% 37%,
            hsla(16, 100%, 88%, 1) 0%,
            transparent 63.33640956108327%
        ),
        radial-gradient(
            circle at 36% 87%,
            hsla(321, 100%, 88%, 1) 12.107536057085522%,
            transparent 63.33640956108327%
        );
    background-blend-mode: normal, normal, normal;
}

#root {
    width: 90%;
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-width: 320px;
    min-height: 100dvh;
    background-image: url('/pokereactLogo.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: clamp(300px, 40vw, 700px);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    background-color: hsla(207.2412045062839, 100%, 40%, 1);
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    color: #f4f4f4;
    transition: border-color 0.15s, background-color 0.5s, color 0.5s;
}
button:hover {
    border-color: hsla(207.2995861876241, 100%, 25%, 1);
    background-color: hsla(207.2995861876241, 100%, 25%, 1);
}

.btn-outlined {
    border-radius: 8px;
    border: 2px solid hsla(207.2412045062839, 100%, 40%, 1);
    background-color: #f4f4f4ea;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    color: #213547;
    transition: border-color 0.5s, color 0.5s;
}
.btn-outlined:hover {
    border-color: hsla(207.2995861876241, 100%, 25%, 1);
    background-color: #f4f4f4ea;
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #f4f4f4;
    }
}
